.call_to_action_wrapper {
	padding-top: 75px;
	padding-bottom: 75px;
	@media(max-width:991px) {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	@media(max-width:575px) {
		//padding-top: 40px;
		//padding-bottom: 40px;
	}

	.heading{
		color: $white_primary;
		@media (max-width: 575px) {
			//padding-right: 40px;
		}
	}
	.body{
		color: $white_primary;
	}

	.col_right{

		.wrapper{

			float: right;
			display: flex;
    		align-items: center;
			//margin-top: 15px;

			@media(max-width: 991px){
				float: none;
				margin-top: 15px;
				a {
					//flex: 0 0 50%;
				}
			}
			@media (max-width: 575px) {
				flex-direction: column;
				text-align: left;
				align-items: start;
			}




			.btn{
				@include doFadeTransSlow();
				@media (max-width: 991px) {
					max-width: 250px;
				}
			}

			.arrow{
				color: $white_primary;
				
				font-family: $font_primary;
				@include doFadeTransSlow();
				font-size: 18px;
				font-family: $font_secondary;

				&:hover{
					color: $orange_primary;
				}

				@media(max-width: 991px){
					//margin-bottom: 30px;
					//display: block;
				}

				@media (min-width: 576px) {
					margin-right: 25px;
				}

				@media (max-width: 575px) {
					margin-bottom: 20px;
				}

			}

		}
	}
}
