.hero_slideshow_wrapper {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 160px;
		z-index: 1;
		opacity: 0.4;
		background: linear-gradient(to bottom , $black_primary,transparent);
	}

	.image_overlay {
		
		@media (min-width: 1400px) {
			width: 80%;	
		}
	}

	.slick-list{

		@media(max-width:500px) {
			display: flex;
			flex-direction: column;
			height: 100%;
			margin-bottom: auto;
		}

		.slick-track{
			height: 85vh;
			@media(max-width: 1200px){
				height: 100vh;
			}
			@media (max-width:500px) {
				height: auto;
			}
		}
	}

	.hero_slide {
		position: relative;
		@include flexBox();


		.bg_image{
		}

		.inner {
			position: relative;
			padding-right: 100px;
			margin-top: 75px;
			padding-top: 100px;
			padding-bottom: 100px;

			@media(max-width: 767px){
				padding-right: 15px;
				padding-bottom: 60px;
			}

			h1{
				@media(max-width: 767px){
					font-size: 40px;
					line-height: 1.2;
				}
			}

			h2 {
				font-size: 16px;
				margin-top: 20px;
				font-family: $font_main;
				line-height: 24px;
			}

			p{
				font-size: 16px;
				margin-top: 20px;
			}

			.services_dropdown{
				margin-top: 50px;
				h4{
					letter-spacing: 1.92px;
					margin-bottom: 20px;
				}

                .select-wrap{

                    position: relative;
                    width: 300px;

                    &:after{
						content: "\f107";
						font-family: FontAwesome;
						position: absolute;
						right: 18px;
						font-size: 20px;
						top: 50%;
						padding-top: 0;
						height: auto;
						background: $white_primary;
						z-index: 1;
						text-align: center;
						width: auto;
						pointer-events: none;
						box-sizing: border-box;
						color: $blue_primary;
						transform: translateY(-50%);
                    }

                    select{
    					height: 57px;
    					width: 300px;
    					text-transform: uppercase;
    					font-family: $font_secondary;
						font-size: 14px;
    					cursor: pointer;
    					padding-left: 20px;
    					padding-right: 12px;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        position: relative;
						border: none;
						color: $blue_primary;
    				}


                }

            }
		}
	}

	.col_video {
		//background: #f45;
		align-self: center;
		@media (max-width: 992px) and (min-width: 768px) {
			margin-top: -50px;
		}
		@media (max-width: 575px) {
			margin-top: -30px;
			padding-bottom: 20px;
		}
		.play_wrapper {
			display: flex;
			align-self: center;
			@media (max-width: 575px) {
				margin-bottom: 20px;
			}
			img {
				max-width: 100px;
				margin: 0 auto;
				cursor: pointer;
				@media (max-width: 992px) {
					margin: 0;
				}

				@media (max-width: 575px) {
					max-width: 80px;
					position: relative;
					height: 80px;
				}

			}

			@media (max-width: 575px) {
				position: relative;
			    &:after {
					content: "Play video";
					position: absolute;
					left: 90px;
					text-transform: uppercase;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					cursor: pointer;
				}
			}
		}
	}

}
