.latest_news_wrapper {
	padding-top: 125px;
	padding-bottom: 125px;

	.col_intro {
		text-align: center;
		margin-bottom: 50px;
		@media (max-width:991px) {
			margin-bottom: 30px;
		}
		@media (max-width: 575px) {
		    margin-bottom: 15px;
		}
	}

	.featured-article{
		
		color: $white_primary;
		
		height: auto;
    	min-height: 100%;

        @media(max-width: 1600px){
			height: 450px;
		}

		@media(max-width: 1299px){
			height: 500px;
		}
		@media(max-width:600px) {
			height: 450px;
		}

		@media(max-width: 400px){
            height: 400px;
        }

		&:hover{
			.float_center{
				max-height: 100% !important;
			}
		}

		.bg_image{

			.overlay{
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
				background: transparent linear-gradient(180deg, #000000 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
				mix-blend-mode: multiply;
				opacity: 0.4;

			}

			//position: relative;
			@media (max-width: 767px) {
				&:after {
					content: '';
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					background: rgba($black_primary, 0.5);
				}
			}

		}

		.inner{

			position: absolute;
			left: 25px;
			max-width: calc(100% - 25px);
			bottom: 0px;
			width: 100%;
			padding-right: 25px;
			padding-bottom: 25px;

			@media (max-width: 575px) {
				max-width: calc(100% - 20px);
				left: 10px;
				padding-right: 0;
			}

			h4{
				margin-top: 7px;
				@include doFadeTransSlow();
				&:hover{
					color: $orange_primary;
				}
			}

			span{
				text-transform: uppercase;
				font-family: $font_primary;
				@media (max-width: 767px) {
					color: $orange_primary;
				}
			}

			.float_center {
				max-height: 0;
				overflow: hidden;
				@include doFadeTransSlow();

				@media (max-width:991px) {
					max-height: 100%;
				}
			}

			p{
				display: -webkit-box;
				max-width: 75%;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
				margin-bottom: 0;
			}

			.more{
				position: relative;
				display: block;
				text-transform: uppercase;
				font-family: $font_secondary;

				@include doFadeTransSlow();
				&:hover{
					color: $orange_primary;

					svg{
						margin-left: 10px;
					}
				}

				svg{
					margin-left: 5px;
					margin-top: -4px;
					@include doFadeTransFast();
				}
			}

			.float_center {
				display: flex;
				align-items: center;

				@media (max-width:580px) {
					flex-direction: column;
					align-items: flex-start;
					row-gap: 14px;
				}
			}

		}
	}

	.reg-article{
		min-height: 400px;
		border: 1px solid $blue_light;
		height: auto;
    	min-height: 100%;

    	@media(max-width: 991px){
			min-height: auto;
		}

    	@media(max-width: 1200px){
			margin-top: 25px;
		}

		.inner{
			padding-bottom: 40px;
			position: relative;
			left: 0px;
			//top: 70%;
			width: 100%;

			h4{
				text-align: center;
				padding-left: 20px;
				padding-right: 20px;
				padding-top: 15px;
				padding-bottom: 20px;
				@include doFadeTransSlow();
				&:hover{
					color: $orange_primary;
				}

				@media(max-width: 991px){
					padding-bottom: 10px;
				}
			}

        }

		.link-wrapper{

			position: absolute;
			bottom: 25px;
			text-align: center;
			width: 100%;

			.link_extended{
				text-transform: uppercase;
				font-family: $font_secondary;
				@include doFadeTransSlow();
				&:hover{
					color: $orange_primary;

					svg{
						margin-left: 10px;
					}
				}

				svg{
					margin-left: 5px;
					margin-top: -4px;
					@include doFadeTransFast();
				}
			}

		}


		img {
			height: 66%;
			position: relative;
			max-height: 370px;
		}
	}

	@media (max-width:1200px) {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	@media (max-width:991px) {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}
