.mini_carousel_wrapper {
	.col_content {
		position: relative;
		//min-height: 695px;
		@media(max-width:991px) {
			//min-height: 550px;
		}
		@media(max-width:600px) {
			//min-height: 450px;
		}
	}

	.slick-list{
		.slick-track{
			//height: 700px;

			@media(max-width: 991px){
				//height: 500px;
			}
			@media(max-width: 767px){
				//height: 420px;
			}
		}
	}

	.mini_carousel {
		position: absolute;
		top: 0%;
		height: 100%;
		width: 100%;
		z-index: -1;
		overflow: hidden;
		.slick-list {
			height: 100%;
			.slick-track {
				height: 100%;
			}
		}
	}

	.mini_carousel_text{
		// margin-top: -400px;
		// margin-left: 100px;

		// @media(max-width: 991px){
		// 	margin-top: -325px;
		// 	margin-left: 25px;
		// 	margin-right: 25px;
		// }
		// position: relative;
		
		//top: 50%;
		//transform: translateY(-50%);
		left: 100px;
		position: relative;
		width: calc(100% - 100px);
		padding-top: 120px;
		padding-bottom: 120px;


		.inside_slide {
			display: flex;
			height: 100%;
			min-height: 300px;
			.inner {
				align-self: center;
				//display: flex;
			}
		}

		.slick-list {
			display: flex;
			width: 100%;
		}
		.slick-dots {
			//bottom: -20%;
			bottom: 50px;
			left: -100px;
    		width: 100vw;
			


			@media(max-width:991px){
				//bottom: -30%;
				bottom: 30px;
				left: -32px;
			}
			@media(max-width:600px){
				//bottom: -20%;
				bottom: 20px;
				left: -15px;
			}



			@media(max-width:579px){
				//bottom: -15%;
			}
			@media(max-width:429px){
				//bottom: -10%;
			}
			@media(max-width:337px){
				//bottom: -5%;
			}
		}
		.slick-track {
			height: auto;
			display: flex;
			.slide {
				height: auto;
			}
		}

		h4{
			max-width: 550px;
			margin-bottom: 40px;
			margin-top: 30px;

			@media(max-width: 991px){
				max-width: 100%;
			}
			@media (max-width: 575px) {
				font-size: 20px;
			}
		}

		@media (max-width: 991px) {
			left: 32px;
			width: calc(100% - 64px);
			padding-top: 60px;
			padding-bottom: 60px;
		}

		@media (max-width: 600px) {
			left: 15px;
			padding-top: 50px;
			padding-bottom: 50px;
		}

		@media (max-width: 575px) {
			width: 100%;
			padding-right: 40px;
		}

	}

	.slick-dots{

		display: block;
	    width: 100%;
	    padding: 0;
	    margin: 0;
	    list-style: none;
	    text-align: left;
	    position: absolute;
	    bottom: 87px;
	    text-align: center;

		@media(max-width: 991px){
			bottom: 40px;
		}

		.slick-active{
			background: $blue_primary;
		}

		li{
			position: relative;
		    display: inline-block;
		    width: 10px;
		    height: 10px;
		    margin: 0 5px;
		    padding: 0;
		    cursor: pointer;

			button{

				font-size: 0;
			    line-height: 0;
			    display: block;
			    width: 10px;
			    height: 10px;
			    padding: 4px;
			    cursor: pointer;
			    color: transparent;
			    outline: none;
			    border: 1px solid #001A3C;
			    background-color: transparent;

			}

		}
	}



	.bg_image {
		left: auto;
		right: 0;

		.img_tag_bg.image_overlay {
			@media(max-width: 767px){
				//width: 90%;
			}
		}
	}
}
