.our_team {
    padding-top: 48px;
    padding-bottom: 124px;

    .top_wrap {
        margin-bottom: 32px;
    }
    .slick-dots {
        bottom: -40px;
    }


    .team_wrapper {
        > .row {
            justify-content: center;
            row-gap: 40px;
        }
        .col_team {
            padding: 0px 20px;

            .inner {
                display: flex;
                flex-direction: column;
                height: 100%;
                border-bottom: 1px solid $blue_light;
                padding-bottom: 30px;
                margin-bottom: 30px;

                img {
                    height: auto;
                }
                .wrapper {
                    margin-bottom: auto;
                    img {
                        width: 100%;
                        @media (max-width:991px) {
                            max-width: 400px;
                            margin-bottom: 10px;
                        }
                    }

                    .content {
                        padding: 20px 34px;

                        * {
                            font-family: $font_secondary;
                        }
                    }

                    h4 {
                        margin-bottom: 6px;
                    }

                    p {
                        text-transform: uppercase;
                    }

                }

                .col_content {
                    @media (max-width: 991px) {
                        padding-top: 20px;
                    }
                }
            }

            &_block {
                padding-left: 15px;
                padding-right: 15px;
                margin-top: 20px;
                margin-bottom: 110px;
                @media(max-width:1200px) {
                    margin-bottom: 75px;
                }
                @media(max-width:991px) {
                    margin-bottom: 50px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                .inner {
                    .col_image {
                        @media(max-width:991px) {
                            text-align: center;
                        }
                        img {
                            width: 100%;
                            height: auto;
                            @media (max-width:991px) {
                                max-width: 400px;
                                margin-bottom: 10px;
                            }
                        }
                    }
                    .col_content {
                        margin: auto 0;
                        padding-left: 38px;
                        @media(max-width:991px) {
                            padding-left: 15px;
                            text-align: center;
                        }
                        .small-para {
                            padding-bottom: 10px;
                            border-bottom: 1px solid $blue_light;
                            margin-bottom: 16px;
                            font-family: $font_secondary;
                            text-transform: uppercase;
                        }
                        .role {
                            margin-bottom: 24px;
                            color: rgba($blue_primary ,0.50);
                        }
                    }
                }
            }
        }

        .col_link { 
            margin-top: 75px;

            @media (max-width:1200px) {
                margin-top: 40px;
            }
        }
    }

    @media (max-width:1200px) {
        padding-bottom: 80px;
    }

    @media (max-width:991px) {
        padding-bottom: 48px;
    }
}