.our_process_wrapper {
    padding-top: 100px;
    padding-bottom: 125px;
    counter-reset: section;
    @media(max-width:1200px) {
        padding-top: 75px;
        padding-bottom: 75px;
    }
    @media(max-width:1200px) {
        padding-top: 60px;
        padding-bottom: 60px;
    } 
    .single {
        margin-bottom: 45px;
        @media(max-width:991px) {
            margin-bottom: 30px;
        }
        .left {
            .subheading {
                display: inline-flex;

                &:before {
                    counter-increment: section;
                    content: counter(section);
                    color: $orange_primary;
                    font-size: 16px;
                    font-family: $font_primary;
                    margin-right: 16px;
                }
            }
        }
        .right {
            p {
                position: relative;
                padding-bottom: 45px;
                @media(max-width:991px) {
                    padding-bottom: 30px;
                }
                &:before {
                    content: '';
                    background: $border_grey;
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    bottom: 0;
                    left: 0;
                    margin-top: 45px;
                    @media(max-width:991px) {
                        margin-top: 30px;
                    }
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
            .right {
                p {
                    margin: 0;
                    padding: 0;
                    &:before {
                        all: unset;
                    }
                }
            }
        }
    }
}