.our_business_wrapper {
    padding-top: 125px;
    padding-bottom: 90px;
    background-color: $blue_light;
    @media(max-width:1200px) {
        padding-top: 75px;
        padding-bottom: 75px;
    }
    @media(max-width:1200px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .col_content {
        @media(max-width:991px) {
            margin-bottom: 20px;
        }
        .heading {
            margin-bottom: 20px;
        }
    }
    .icon_block {
        .single_icon_block {
            margin-bottom: 55px;
            @media (max-width:991px) {
                display: flex;
                margin-bottom: 25px;
            }
            @media(max-width:700px) {
                display: block;
                text-align: center;
            }
            img {
                max-width: 53px;
                height: fit-content;
                margin-bottom: 21px;
                @media(max-width:700px) {
                    margin-bottom: 15px;
                }
            }
            p {
                @media(max-width:991px) {
                    margin: auto 0;
                    margin-left: 25px;
                }
                @media(max-width:700px) {
                    margin-left: 0;
                }
            }
            &:last-child {
                margin-bottom: 20px;
                @media(max-width:991px) {
                    margin-bottom: 0;
                }
            }
        }
    }
}