.panel_grid_wrapper {
	.panel {
		position: relative;
		z-index: 1;
		&:hover {
			.bg_image {
				opacity: 0.2;

			}
		}
		.bg_image {
			opacity: 0;
			@include doFadeTrans();
		}

		.inner{
			padding-left: 50px;
			padding-right: 125px;
			padding-top: 55px;

			@media(max-width: 1600px){
				padding-right: 25px;
				padding-left: 25px;
			}

			.body{
				position: relative;
				z-index: 9;
				opacity: 1;
			}

			img{
				position: relative;
				z-index: 9;
				opacity: 1;
			}

			.heading{
				margin-top: 31px;
				position: relative;
				z-index: 9;
				opacity: 1;

			}
		}
	}



	.first-panel{
		padding-bottom: 420px;
		color: $white_primary;

		@media(max-width: 1600px){
			padding-bottom: 550px;
		}
		@media(max-width: 1350px){
			padding-bottom: 675px;
		}
		@media(max-width: 991px){
			padding-bottom: 55px;
		}
	}

	.second-panel{
		height: 50%;
		@media(max-width: 991px){
			padding-bottom: 55px;
			height: auto;
		}
	}

	.third-panel{
		left: 50%;
    	width: 50%;
		height: 50%;
    	position: absolute;
    	bottom: 0px;
		color: $white_primary;
		@media(max-width: 991px){
			position: relative;
			left: auto;
			right: auto;
			height: auto;
			padding-bottom: 55px;
			width: 100%;
		}
	}

	.about-inner{
		padding-left: 100px;
		padding-right: 275px;
		margin-top: 300px;
		margin-bottom: 300px;

		@media(max-width: 1199px){
			padding-left: 25px;
			padding-right: 25px;
			margin-top: 55px;
			margin-bottom: 55px;
		}

		h3{
			margin-bottom: 30px;
		}

		h4 {
			margin-bottom: 35px;
			&:last-child {
				margin-bottom: 10px;
			}
		}

		a{
			text-transform: uppercase;
			color: $blue_primary;
			font-family: $font_secondary;
			margin-top: 40px;
			display: block;

			&:hover{
				color: $orange_primary;

				svg{
					margin-left: 10px;
				}
			}
		}
	}

	&_block {
		padding-top: 50px;
		padding-bottom: 168px;
		@media(max-width:1200px) {
			padding-bottom: 100px;
		}
		@media(max-width:991px) {
			padding-bottom: 50px;
		}
		.panel {
			padding: 58px 60px;
			@media(max-width:1200px) {
				padding: 30px 35px;
			}
			.inner {
				padding: 0;
			}
		}
		.first-panel {
			padding-bottom: 60px;
		}
		.third-panel {
			left: auto;
			height: auto;
			position: sticky;
		}
	}
}

.panel_grid_wrapper_block {
	.second-panel {
		height: auto;
	}
}
