.services_wrapper {
	padding-top: 94px;
	.col_intro{
		text-align: center;
		margin-bottom: 25px;
	}

	.col_service {
		position: relative;
		height: 328px;
		border: 1px solid $blue_light;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1;
		.dark-icon {
			@include doFadeTrans();
		}
		.excerpt {
			
			
			p {
				opacity: 0;	
				@include doFadeTrans();
				color: $blue_primary;
			}
		}
		&:hover{
			.inner .excerpt{
				display: block;
				color: $white_primary;
				p {
					opacity: 1;
					color: $white_primary;
				}
			}
			.inner a{
				color: $white_primary;

				&:hover{
					color: $orange_primary;
				}
			}
			.dark-icon {
				filter: grayscale(1) brightness(0) invert(1);
			}
		}

		.inner {
			position: relative;
			z-index: 2;
			text-align: center;


			a{
				display: block;
				font-family: $font_secondary;
				margin-top: 20px;

			}

			.excerpt{
				display: none;
				height: 48px;
				overflow: hidden;
				p {
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					overflow: hidden;
					color: $blue_primary;
				}
			}


		}
		.bg_image {
			opacity: 0;
			@include doFadeTrans();
			.overlay{
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
				background: $black_primary;
				opacity: 0.5;
			}
		}
		&:hover {
			.bg_image {
				opacity: 1;
			}
		}

		@media (max-width:1600px) {
			height: 255px;
		}
		@media (max-width:1300px) {
			height: 322px;
		}
		@media (max-width: 575px) {
			height: auto;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		@media (max-width:360px) {
			//height: 280px;
		}
	}

	.col_link{
		padding-top: 75px;
		padding-bottom: 75px;
		.link{
			text-transform: uppercase;
			display: block;
			text-align: center;
			font-family: $font_secondary;

			&:hover{
				color: $orange_primary;

			}

		}
		@media (max-width:991px) {
			padding-top: 50px;
			padding-bottom: 50px;
		}
		@media (max-width:580px) {
			padding-top: 35px;
			padding-bottom: 35px;
		}
	}
	.service_slide {
		position: relative;
		margin-bottom: 200px;
		.sevices_slider {
			.slick-slide {
			    margin: 0 25px;
				@media (max-width:1600px) {
					margin: 0 18px;
				}
			}

			.slick-list {
			    margin: 0 -25px;
				@media (max-width:1600px) {
					margin: 0 -18px;
				}
			}
		}
		.single_slide {
			.col_service {
				padding: 15px;
			}
		}
		.slider_actions {
			.custom_arrows {
				display: inline-block;
				background-position: center center;
				background-repeat: no-repeat;
				width: 13px;
				height: 23px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				cursor: pointer;
				&.sevice_arrow_left {
					background-image: url('../images/icons/arrow-left-grey.svg');
					left: -56px;
				}
				&.sevice_arrow_right{
					background-image: url('../images/icons/arrow-left-grey.svg');
					right: -56px;
					transform: translateY(-50%) rotate(180deg);
				}

				@media (max-width:991px) {
					&.sevice_arrow_left {
						left: -4px;
					}
					&.sevice_arrow_right{
						right: -4px;
					}
				}
				@media (max-width:767px) {
					&.sevice_arrow_left {
						left: 10px;
					}
					&.sevice_arrow_right{
						right: 10px;
					}
				}
			}
			
		}
	}

	&.servicesStacked {
		margin-top: 88px;
		margin-bottom: 112px;
		padding-top: 0;
		.content_row {

			.single_service {
				position: relative;
				margin-bottom: 134px;

				@media (max-width:991px) {
					margin-bottom: 80px;
				}

				&:after {
					content: '';
					position: absolute;
					bottom: -70px;
					height: 1px;
					background-color: $blue_light;
					width: calc(100% + 16.66%);
					left: -8.33%;

					@media (max-width:991px) {
						width: 100%;
						left: 0;
						bottom: -40px;
					}
				}

				&:last-child {
					margin-bottom: 0;
					
					&:after {
						all: unset;
					}
				}

				> .row {
					row-gap: 40px;
				}

				.col_content {

					.dark-icon {
						max-width: 100%;
						margin-bottom: 22px;
					}

					p {
						margin-bottom: 20px;
						&:last-of-type {
							margin-bottom: 22px;
						}
					}
				}

				.col_image {
					position: relative;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
					span.no-thumb {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background-color: #f2f2f2;

						@media (max-width:991px) {
							position: relative;
							display: block;
							padding-top: 33.33%;
						}
						@media (max-width:767px) {
							padding-top: 40%;
						}
						@media (max-width:580px) {
							padding-top: 50%;
						}
					}
				}
			}
		}

		@media (max-width:1200px) {
			margin-top: 80px;
			margin-bottom: 80px;
		}

		@media (max-width:991px) {
			margin-top: 48px;
			margin-bottom: 48px;
		}
	}
	@media (max-width:991px) {
		padding-top: 60px;
	}
}

.single-service {
	.col_intro {
		margin-bottom: 62px;
	}
}