.testimonials_wrapper {

	.content-wrapper{
		background: $grey_primary;
		text-align: center;
		padding-bottom: 250px;
		padding-top: 100px;

        @media(max-width: 991px){
            padding-top: 50px;
			padding-bottom: 180px;
        }

		.inner{
			margin: 0 auto;
			max-width: 800px;

			h2{
				margin-bottom: 25px;
				@media (max-width: 575px) {
				    margin-bottom: 15px;
				}
			}
		}

	}

	.testi-wrapper{
		background: $blue_primary;
		padding-bottom: 100px;

		.col_content {
			margin-top: -150px;
		}

		.testimonial{
			height: 100%;

			.inner{

				background: $white_primary;
				padding: 40px;
				height: 100%;
				display: flex;
				flex-direction: column;
				align-items: flex-start;

				@media (max-width: 767px) {
				    padding: 30px;
				}

				&:first-of-type{
					//margin-left: 0px;
				}

				h4 {
					margin-top: auto;
					@media (max-width: 767px) {
						font-size: 18px;
					}
				}

				.testi-cat{
					color: $orange_primary;
					text-transform: uppercase;
					font-family: $font_secondary;
				}
			}
		}
		@media (max-width:991px) {
			padding-bottom: 60px;
		}
	}


	.testimonials_carousel {
		.slick-slide {
			margin: 0 22px;
			@media(max-width: 1670px){
				margin: 0 11px;
			}
		}
	  
		.slick-list {
			margin: 0 -22px;
			@media(max-width: 1670px){
				margin: 0 -11px;
			}
		}
		.body {
			position: relative;

			h4{
				font-family: $font_secondary;
			}

			&:before {
				content: '';
				width: 40px;
				height: 40px;
				background-image: url('../images/icons/quote.svg');
				background-size: contain;
				background-repeat: no-repeat;
				position: relative;
				display: block;
				margin-bottom: 10px;
			}

			p {
				font-size: 16px;
				min-height: 200px;
				line-height: 20px;
				@media (max-width: 575px) {
					min-height: 0;
				}
			}
		}
	}

	.left{

		background: url('../images/icons/arrow-white.svg') no-repeat;
	    z-index: 1;
	    position: absolute;
	    height: 25px;
	   	width: 17px;
	    top: 50%;
		transform: translateY(-50%);
		left: -56px;

		&.slick-disabled {
			opacity: 0.5;
			pointer-events: none;
		}

		&:hover{
			opacity: 0.8;
		}

		@media(max-width: 1750px){
			left: -18px;
		}

		@media(max-width: 1670px){
			left: -0px;
			filter: invert(1);
		}

		@media(max-width: 1600px){
			left: -32px;
			filter: invert(0);
		}
		@media(max-width: 1020px) and (min-width:991px){
			left: -15px;
		}
		@media(max-width: 767px){
			display: none;
		}

	}

	.right{

		background: url('../images/icons/arrow-white.svg') no-repeat;
	    z-index: 1;
	    position: absolute;
	    height: 25px;
	    width: 17px;
	    right: -56px;
	    top: 50%;
		transform: translateY(-50%);
	 	transform: rotate(180deg);

		&.slick-disabled {
			opacity: 0.5;
			pointer-events: none;
		}

		&:hover{
			opacity: 0.8;
		}

		@media(max-width: 1750px){
			right: -18px;
		}

		@media(max-width: 1670px){
			right: -0px;
			filter: invert(1);
		}
		@media(max-width: 1600px){
			right: -32px;
			filter: invert(0);
		}
		@media(max-width: 1020px) and (min-width:991px){
			right: -15px;
		}

		@media(max-width: 767px){
			display: none !important;
		}

	}


}