.the_journey_wrapper {
	padding-top: 125px;
	padding-bottom: 0px;

	@media(max-width: 1200px){
        padding-top: 80px;
    }
    @media(max-width: 767px){
        padding-top: 60px;
    }

	.col_content{
		h2{
			margin-bottom: 25px;
			@media (max-width: 575px) {
			    margin-bottom: 15px;
			}
		}
        @media(max-width: 767px){
            margin-bottom: 25px;
        }
	}

	.col_content_right{
		@media(min-width: 767px){
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
		}
	}

	.the_journey{
		margin-top: 75px;
		@media (max-width:991px) {
			margin-top: 45px;
		}
        @media(max-width: 767px){
            margin-top: 0px;
        }
	}

	.step{
		margin-bottom: 100px;

		@media(max-width: 1400px){
			margin-bottom: 65px;
		}

        @media(max-width: 991px){
            margin-top: 75px;
            margin-bottom: 75px;
        }

		@media(max-width:600px) {
			margin-top: 60px;
			margin-bottom: 60px;
		}
		h3{
			font-family: $font_secondary;
			margin-top: 20px;
            @media(max-width: 991px){
                text-align: center;
            }
		}

		.large-para{
			max-width: 320px;
            @media(max-width: 991px){
                max-width: 100%;
                text-align: center;
            }

            p{
                @media(max-width: 991px){
                    padding-left: 50px;
                    padding-right: 50px;
                }
            }
		}

        img{
            @media(max-width: 991px){
                margin: 0 auto;
                display: block;
                margin-top: 10px;
            }
        }
	}

	.step-1, .step-2{
		.large-para{
			&:after{
				content: '';
				background-image: url('../images/dashed-lines.svg');
				background-size: 100% 100%;
				position: absolute;
				top: 75px;
				right: 60px;
				width: 150px;
				height: 10px;

				@media(max-width: 1600px){
					right: 50px;
				}

				@media(max-width: 1400px){
					width: 100px;
				}

				@media(max-width: 1200px){
					right: 20px;
				}

                @media(max-width: 991px){
                    display: none;
                }
			}
		}
	}

	.step-3{
		.large-para{
			&:after{
				content: '';
				background-image: url('../images/dashed-corner.svg');
				background-size: 100% 100%;
				position: absolute;
				top: 55px;
				left: 150px;
				width: 400px;
				height: 350px;


				@media(max-width: 1750px){
					left: 100px;
				}

				@media(max-width: 1500px){
					left: 50px;
				}

				@media(max-width: 1400px){
					left: 25px;
					top: 65px;
					width: 350px;
					height: 300px;
				}

				@media(max-width: 1200px){
					left: -35px;
				}

                @media(max-width: 991px){
                    display: none;
                }



			}

		}

	}

	.step-5{
		.large-para{
			 &:after{
				content: '';
				background-image: url('../images/dashed-lines.svg');
				background-size: 100% 100%;
				position: absolute;
				top: 75px;
				left: 350px;
				width: 150px;
				height: 10px;

				@media(max-width: 1600px){
					left: 250px;
				}

				@media(max-width: 1400px){
					width: 100px;
				}

				@media(max-width: 1200px){
					left: 210px;
				}

                @media(max-width: 991px){
                    display: none;
                }
			}
		}

	}

    .mobile-journey-lines{
        display: none;
        height: 1px;
        width: 125px;
        transform: rotate(90deg);
        @media(max-width: 991px){
            display: block;
        }
    }

    .mobile-journey-line-5{
        @media(max-width: 991px){
            display: none;
        }
    }
}
