.btn {
	padding: 20px 30px;
	@include doFadeTrans();
	background-color: $brand_primary;
	color: $white_primary;
	font-size: 18px;
	font-family: $font_secondary;
	border-radius: 0px;
	font-weight: normal;
	text-transform: uppercase;
	border: 1px solid $orange_primary;
	@include doFadeTransSlow();

	@media (min-width: 768px) {
		&:hover{
			color: $orange_primary;
			background: $white_primary;
			border: 1px solid $white_primary;
		}
	}

	&:focus {
		color: inherit;
		border-color: inherit;
		box-shadow: none;
	}
	

	@media(max-width: 991px){
		width: 100%;
		padding: 14px 22px;
	}
}
