.form_wrapper {

	input[type="text"], input[type="email"], input[type="tel"], input[type="number"], select, textarea {
		border: none;
		height: 60px;
		padding: 12px 15px !important;
		color: $blue_primary;
		font-family: $font_main;
		font-size: 17px;
	}
	textarea {
		max-height: 200px;
	}
	.gform_footer {
		margin-bottom: 0;
		padding-bottom: 0;
		margin-top: 0;
		padding-top: 0;
	}

	.gform_wrapper {

		.gform_body {

			textarea {
				resize: none;
			}

			.gfield {
				&.gfield_error {
					input,textarea {
						border: none;
					}    
				}
			}

			.validation_message {
				background-color: transparent;
				border: none;
				padding: 0;
				font-size: 12px;
				margin-top: 4px;
				font-family: $font_main;

			}

			.custom_radio_wrap {
				display: flex;
				align-items: center;
				.gfield_label {
					float: left;
					width: auto;
					color: $blue_primary;
					font-size: 16px;
					line-height: 20px;
					font-family: $font_main;
					font-weight: 100;
					height: 20px;
					margin-right: 50px;
					margin-bottom: 0;

					@media (max-width:767px) {
						float: unset;
						margin-bottom: 8px;
						margin-right: 0;
					}
				}

				.ginput_container_radio {
					flex-grow: 1;
					.gchoice {
						flex-grow: 1;
						align-items: center;
						input {
							top: auto;
							&:checked,
							&:not(:checked) {
								position: absolute;
								left: -9999px;
							}
							&:checked + label,
							&:not(:checked) + label
							{
								position: relative;
								padding-left: 28px;
								cursor: pointer;
								line-height: 20px;
								display: inline-block;
								color: $blue_primary;
							}
							&:checked + label:before,
							&:not(:checked) + label:before {
								content: '';
								position: absolute;
								left: 0;
								top: 0;
								width: 18px;
								height: 18px;
								border: 1px solid $blue_light;
								border-radius: 100%;
								background: $blue_light;
							}
							&:checked + label:after,
							&:not(:checked) + label:after {
								content: '';
								width: 10px;
								height: 10px;
								background: $blue_primary;
								position: absolute;
								top: 4px;
								left: 4px;
								border-radius: 100%;
								-webkit-transition: all 0.2s ease;
								transition: all 0.2s ease;
							}
							&:not(:checked) + label:after {
								opacity: 0;
								-webkit-transform: scale(0);
								transform: scale(0);
							}
							&:checked + label:after {
								opacity: 1;
								-webkit-transform: scale(1);
								transform: scale(1);
							}
						}
					}
				}
			}

		}

		.gform_footer {
			.btn {
				&:hover {
					border: 1px solid $orange_primary;
				}
			}
		}

		.gform_validation_errors {
			box-shadow: none;
			border: none;
			background-color: transparent;
			margin-top: 0;
			padding: 6px 16px 6px 28px;
	
			.gform_submission_error {
				font-family: $font_main;
	
				.gform-icon {
					left: 0;
				}
			}
		}
	}

	.gform_confirmation_message {
		text-align: center;
		color: $orange_primary;
		font-family: $font_primary;
		font-size: 22px;
	}

}
