.modal_wrapper {

	.inner {
		padding: 20px;
	}

}
.close_icon {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 999;
	cursor: pointer;
	display: block;
	transition: all 0.5s cubic-bezier(0.5, 0, 0, 1);
	background-color: $brand_primary;
	border-radius: 100%;

	> span {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 15px;
		height: 2px;
		margin: auto;
		transition: all 0.5s cubic-bezier(0.5, 0, 0, 1);
		transform: rotate(45deg);
		right: 0;
		bottom: 0;
		background-color: $white_primary;

		&:before, &:after {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			left: 0;
			right: 0;
			width: 100%;
			background-color: $white_primary;
		}
		&:before {
			bottom: 6px;
			transition: all 0.5s cubic-bezier(0.5, 0, 0, 1);
			transform: rotate(-90deg);
			bottom: 0;
		}
		&:after {
			bottom: -6px;
			right: 50%;
			width: 50%;
			transition: all 0.5s cubic-bezier(0.5, 0, 0, 1);
			transform: rotate(-90deg);
			opacity: 0;
			bottom: 0;
		}
	}
}

.iziModal-overlay {
	//backdrop-filter: blur(5px) opacity(1);
    //-webkit-backdrop-filter: blur(5px) opacity(1);
}