body {
	font-family: $font_main;
	color: $blue_primary;
	font-size: 15px;
	-webkit-font-smoothing: antialiased;
	::selection {
		background-color: $blue_primary;
		color: $white_primary;
	}
}

h1, h2, h3, h4, h5 {
	margin: 0px;
}

h1 {
	font-family: $font_primary;
	font-size: 55px;
	line-height: 57px;
}

h2, h3, h4, h5 {
	font-family: $font_secondary;
	margin-bottom: 10px;
	span {
		color:$orange_primary;
	}
}

h2.heading{
	font-size: 38px;
	@media (max-width: 575px) {
		font-size: 32px;
	}
}

h3.heading{
	font-size: 21px;
	font-family: $font_main;
	@media (max-width: 575px) {
		font-size: 20px;
	}
}

h4{
	font-size: 26px;
	@media (max-width: 575px) {
		font-size: 21px;
	}
}

.medium-heading{
	font-size: 24px;
}

.subheading{
	text-transform: uppercase;
	font-family: $font_primary;
	font-size: 16px;
}

.orange{
	color: $orange_primary;
}

.orange-light{
	color: $orange_secondary;
}

.blue{
	color: $blue_primary;
}

.small-para{
	font-size: 14px;
}

.medium-para{
	font-size: 15px;
}

.large-para{
	font-size: 16px;
}

.max-para{
	font-size: 21px;
}

.link-right-chevron{
	text-transform: uppercase;
	font-family: $font_secondary;
	@include doFadeTransSlow();
	svg{
		height: 7.75px;
		width: 4.63px;
		margin-top: -6px;
		margin-left: 5px;
		@include doFadeTransFast();
	}

	&:hover{
		svg{
			margin-left: 10px;
		}
	}
}


p, a {
	font-family: $font_main;
}

p {
	margin-bottom: 10px;
}

a {
	color: inherit;
	@include doFadeTransSlow();
	&:hover, &:focus, &:active {
		text-decoration: none;
		color: $orange_primary;
	}

}

ul {
	li {
		font-size: inherit;
	}
}

*,*:focus,*:hover{
    outline:none;
}
.nav > li > a:hover, .nav > li > a:focus {
	background-color: transparent;
}

// // hide google maps copyright, terms of use and logo
// a[href^="http://maps.google.com/maps"]{display:none !important}
// a[href^="https://maps.google.com/maps"]{display:none !important}
.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

.grecaptcha-badge {
    display: none !important;
}

.img-responsive {
	max-width: 100%;
}

[bg-colour="navy"] {
	background-color: $blue_primary;
}

[bg-colour="grey"] {
	background-color: $blue_light;
}

[bg-colour="white"] {
	background-color: $white_primary;
}

[bg-colour="orange"] {
	background-color: $orange_primary;
}

.svg_wrapper {
	svg {
		width: 100%;
		height: auto;
	}
}

.bg_image, .bg_overlay {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.bg_image {
	&.with_overlay {
		&:after {
			content: '';
			background-color: $black_primary;
			opacity: 0.5;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			position: absolute;
		}
	}
}


.container {
	@media (min-width: 1600px) {
		max-width: 1640px;
		//max-width: 1400px;
	}

	@media (max-width: 1600px) {
		max-width: 1300px;
	}

	@media (max-width: 1400px) {
		max-width: 1250px;
	}

	@media (max-width: 1300px) {
		max-width: 1100px;
	}

	@media (max-width: 1199px) {
		max-width: 960px;
	}

	@media (max-width: 991px) {
		max-width: 720px;
	}

	@media (max-width: 768px) {
		max-width: 720px;
	}

	&.narrow {
		@media (min-width: 1000px) {
			max-width: 960px;
		}
	}
}

.thin-container{
	@media (min-width: 1600px) {
		//max-width: 1640px;
		max-width: 1400px;
	}
}

.section {
	padding: 120px 0;
	@media (max-width: 767px) {
		padding: 80px 0;
	}
	@media (max-width: 575px) {
		padding: 80px 0;
	}
}

.social_links_wrapper {
	a {
		height: 35px;
		width: 35px;
		background-color: $brand_primary;
		border-radius: 100%;
		display: inline-block;
		margin-right: 5px;
		position: relative;
		i {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: $white_primary;
			font-size: 16px;
		}
	}
}

.wrap{
	overflow: hidden;
}

.img_tag_bg {
	position: absolute;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	left: 0;
	top: 0;
}

.page_not_found {
	padding-top: 40px;
}

.slick-dots{

	display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
    position: absolute;
    bottom: 87px;
    text-align: center;

	@media(max-width: 991px){
		bottom: 40px;
	}

	.slick-active{
		background: $blue_primary;
	}

	li{
		position: relative;
	    display: inline-block;
	    width: 10px;
	    height: 10px;
	    margin: 0 5px;
	    padding: 0;
	    cursor: pointer;

		button{

			font-size: 0;
		    line-height: 0;
		    display: block;
		    width: 10px;
		    height: 10px;
		    padding: 4px;
		    cursor: pointer;
		    color: transparent;
		    outline: none;
		    border: 1px solid #001A3C;
		    background-color: transparent;

		}

	}
}