// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$black_primary:			#000;
$white_primary:			#fff;

$orange_primary:		#DD7A34;
$orange_secondary:		#E06E36;
$blue_primary:			#192D4B;
$blue_light:			#F0F2F5;
$border_grey: 			#DFDFE0;
$grey_primary:			$blue_light;

$brand-primary:         $orange_primary;
$brand_primary:			$brand-primary;

$harmonia_bold:			'HarmoniaSans-Bold';
$harmonia_semibold:		'HarmoniaSans-SemiBold';
$harmonia_regular:		'HarmoniaSans-Regular';
$harmonia_light:		'HarmoniaSans-Light';


// Typography
$fontstack: 			-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
$font_primary:			$harmonia_bold, $fontstack;
$font_secondary:		$harmonia_semibold, $fontstack;
$font_main:				$harmonia_regular, $fontstack;
$font_light:			$harmonia_light, $fontstack;

@mixin doFadeTrans() {
	transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}

@mixin doFadeTransFast() {
	transition: all .15s ease-in-out;
	-moz-transition: all .15s ease-in-out;
	-webkit-transition: all .15s ease-in-out;
}

@mixin doFadeTransSlow() {
	transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-webkit-transition: all .6s ease-in-out;
}

@mixin flexBox() {
	display: flex;
	align-items: center;
	justify-content: center;
}

// hamburger overrides
$hamburger-layer-color : $white_primary;
$hamburger-layer-border-radius: 0;
$hamburger-layer-width : 24px;
$hamburger-layer-height : 1px;
$hamburger-layer-spacing: 6px;
$hamburger-padding-x : 0;
$hamburger-padding-y: 0;
