@import "common/variables";


.rAds span {
    display: none !important;
}

.rAds {
    visibility: hidden !important;
}


[data-name="subheading"] {
	
	/*input[type="text"] {
		font-family: $sweet_sans_regular;
		font-size: 14px;
		letter-spacing: 1px;
		text-transform: uppercase;
		padding-bottom: 20px;
	}*/
}

[data-name="heading"] {
	
	input[type="text"], textarea {
		font-family: $font_primary;
	}
}

.wp-not-current-submenu.wp-menu-separator {
	display: none !important;
}