.blog_wrapper {
    padding-top: 82px;
    padding-bottom: 150px;
    @media(max-width:1200px) {
        padding-bottom: 100px;
    }
    @media(max-width:991px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @media(max-width:600px) {
        padding-bottom: 30px;
    }
    .blog_inner {
        .single_blog {
            margin-bottom: 40px;
            border: 1px solid $blue_light;
            img {
                max-width: 100%;
                width: 100%;
                object-fit: cover;
                height: 100%;
            }
            .col_content {
                margin: auto 0;
                padding: 20px 15px;

                .cats_block {
                    a {
                        text-transform: uppercase;
                    }
                }

                .small-para {
                    font-family: $font_secondary;
                    margin-right: 0px;
                }
                h3 {
                    margin-top: 10px;
                    margin-bottom: 15px;
                }
                .large-para {
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                    p {
                        line-height: 20px;
                    }
                    a {
                        display: none;
                    }
                }
                .link-wrapper {
                    margin-top: 15px;
                    a {
                        line-height: 18px;
                        text-transform: uppercase;
                        position: relative;
                        color: $blue_primary;
                        @include doFadeTransSlow();
                        svg {
                            height: 12px;
                            width: 20px;
                            margin-left: 16px;
                            position: absolute;
                            top: calc(50% - 6px);
                            @include doFadeTransFast();
                        }
                        &:hover{
                            svg {
                                margin-left: 20px;
                            }
                        }
                    }
                }
            }
            .col_image {
                padding-left: 0;
                position: relative;
                @media(max-width:991px) {
                    padding-right: 0;
                }
                .no-thumb {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #f2f2f2;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .side_bar {
        padding-top: 26px;
        h3 {
            margin-bottom: 23px;
        }
        .category_count {
            .category {
                display: flex;
                margin-bottom: 28px;
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    bottom: -14px;
                    height: 1px;
                    background-color: $blue_light;
                    width: 100%;
                }
                a, span {
                    font-size: 16px;
                    line-height: 20px;
                    font-family: $font_main;
                }
                span {
                    margin-left: auto;
                }
            }
        }
        .category_block {
            display: flex;
            padding-top: 8px;
            padding-bottom: 40px;
            flex-wrap: wrap;
            @media(max-width:600px) {
                padding-bottom: 30px;
            }
            .block {
                padding: 15px 30px;
                background-color: #e06e3626;
                margin-right: 14px;
                margin-bottom: 10px;
                @media(max-width:600px) {
                    padding: 10px 20px;
                }
                a {
                    font-size: 14px;
                    line-height: 21px;
                    font-family: $font_main;
                    color: $orange_primary;
                    &:hover {
                        color: $white_primary;
                    }
                }
            }
        }
        .archive {
            li {
                list-style: none;
                color: $orange_primary;
                line-height: 20px;
                margin-bottom: 12px;
                &:last-of-type {
                    margin-bottom: 0px;
                }
                a {
                    font-size: 16px;
                    font-family: $font_main;
                    color: $black_primary;
                    &:hover {
                        color: $orange_primary;
                    }
                }
            }
        }
    }
    .pagination {
        justify-content: center;
        padding-top: 50px;
        @media(max-width:991px) {
            padding-top: 30px;
        }
        .s-pagination__list {
            display: flex;
            list-style: none;
            padding-left: 0;
            .s-pagination__item {
                margin-right: 15px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    font-size: 18px;
                    line-height: 21px;
                    font-family: $font_main;
                    color: $orange_primary;
                }
                svg {
                    width: 20px;
                    height: 16px;
                }
            }
            .s-pagination__link {
                &.disable {
                    pointer-events: none;
                }
            }
            .active {
                a{
                    color: $blue_primary;
                    pointer-events: none;
                }
            }
        }
        
    }
}
