.book_consult_wrapper {
    margin-top: -70px;
    .form_wrapper {
        background: $white_primary;
        border: 1px solid $blue_light;
        padding: 46px;
        .gform_body {
            margin-bottom: 42px;
            .gform_fields {
                grid-row-gap: 13px;
                .gfield {
                    label {
                        font-size: 16px;
                        line-height: 20px;
                        font-family: $font_main;
                    }
                    input, textarea {
                        width: 100%;
                        height: 40px;
                        background-color: $blue_light;
                        padding: 11px 12px;
                    }
                    textarea {
                        height: 140px;
                    }
                }
            }
            fieldset {
                .gfield_radio {
                    display: flex;
                    .gchoice {
                        display: flex;
                    }
                }
            }
        }
        .gform_footer {
            text-align: center;
            padding: 0 !important;
            margin: 0 !important;
            .btn {
                margin: 0;
                margin-right: 10px;
                padding: 20px 50px;
                border: none;
                background: $orange_primary;
                color: $white_primary;
                text-transform: uppercase;
                font-family: $harmonia_semibold;
                font-size: 13px;
                line-height: normal;
                border: 1px solid $orange_primary;
                @include doFadeTransSlow();
                &:hover {
                    color: $orange_primary;
                    background-color: $white_primary;
                }

                @media (max-width:580px) {
                    padding: 14px 40px;
                }
            }
        }

        @media (max-width:767px) {
            padding: 26px 26px;
        }
    }
}