/* CONTACT US PAGE */

.centered_form_wrapper {
    margin-bottom: 48px;
    .form_image_wrapper {
        background-color: $white_primary;
        margin-top: -70px;
        border: 1px solid $blue_light;
        h4 {
            margin-bottom: 0;
        }
        .large-para {
            margin-bottom: 23px;
            @media(max-width:600px) {
                margin-bottom: 15px;
            }
        }
        .form_wrapper {
            padding: 46px 35px 66px 68px;
            @media(max-width:991px) {
                padding: 30px 45px;
            }
            @media(max-width:600px) {
                padding: 15px 30px;
            }
            .gform_wrapper {
                .gform_body {
                    margin-bottom: 25px;
                    .gform_fields {
                        grid-row-gap: 18px;
                        .gfield {
                            label {
                                font-size: 16px;
                                line-height: 20px;
                                font-family: $font_main;
                            }
                            input, textarea {
                                width: 100%;
                                height: 40px;
                                background-color: $blue_light;
                                padding: 11px 12px;
                            }
                            textarea {
                                height: 140px;
                            }
                        }
                    }
                }
                .gform_footer {
                    padding: 0;
                    margin: 0;
                    text-align: center;
                    .btn {
                        margin: 0;
                        margin-right: 10px;
                        padding: 20px 50px;
                        border: none;
                        background: $orange_primary;
                        color: $white_primary;
                        text-transform: uppercase;
                        font-family: $harmonia_semibold;
                        font-size: 13px;
                        line-height: normal;
                        border: 1px solid $orange_primary;
                        @include doFadeTransSlow();
                        &:hover {
                            color: $orange_primary;
                            background-color: $white_primary;
                        }
                    }
                }
            }
            .gform_validation_error {
                .gform_fields {
                    grid-row-gap: 13px;
                }
            }
        }
        .col_image {
            padding: 60px 70px 60px 35px;
            // position: relative;
            @media(max-width:991px) {
                padding: 30px 45px;
            }
            @media(max-width:600px) {
                padding: 15px 30px;
            }
            .acf-map {
                width: 100%;
                height: 400px;
                border: #ccc solid 1px;
                margin: 20px 0;
                @media (max-width:991px) {
                    height: 100%;
                    aspect-ratio: 16/9;
                }
            }
            
            // Fixes potential theme css conflict.
            .acf-map img {
               max-width: inherit !important;
            }
        }
    }
}
