.single_post {
    padding-top: 120px;
    padding-bottom: 66px;
    @media(max-width:1200px) {
        padding-top: 100px;
        padding-bottom: 60px;
    }
    @media(max-width:991px) {
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .top_wrap {
        margin-bottom: 35px;
        .author {
            font-family: $harmonia_semibold;
            margin-bottom: 6px;
        }
        .blog_detail {
            @media (max-width: 991px) {
                margin-bottom: 18px;
            }
        }
    }
    .bottom_wrap {
        padding-top: 35px;
        padding-bottom: 35px;
        @media(max-width:991px) {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .category_block {
            display: flex;
            flex-wrap: wrap;
            grid-gap: 14px;
            flex: 0 0 calc(50% - 170px);
            max-width: calc(50% - 170px);
            @media (max-width:1200px) {
                flex: 0 0 calc(66.66% - 170px);
                max-width: calc(66.66% - 170px);
            }
            @media (max-width: 991px) {
                flex: 0 0 calc(100% - 170px);
                max-width: calc(100% - 170px);
            }
            @media (max-width: 767px) {
                flex: 0 0 100%;
                max-width: 100%;
                margin-bottom: 18px;
            }
            .block {
                padding: 15px 30px;
                background-color: #e06e3626;
                @media(max-width:600px) {
                    padding: 10px 20px;
                }
                a {
                    font-size: 14px;
                    line-height: 21px;
                    font-family: $font_main;
                    color: $orange_primary;
                    &:hover {
                        color: $white_primary;
                    }
                }
            }
        }
        .share {
            display: flex;
            justify-content: end;
            flex: 0 0 170px;
            max-width: 170px;

            @media (max-width: 767px) {
                flex: 0 0 100%;
                max-width: 100%;
                justify-content: start;
            }
            div {
                font-size: 14px;
                line-height: 21px;
                margin: auto 0;
            }
            ul {
                list-style: none;
                display: flex;
                padding-left: 10px;
                margin: auto 0;
                li {
                    margin-right: 10px;
                    &:last-child {
                        margin-right: 0;
                    }
                    img {
                        width: 18px;
                        height: 18px;
                        border-radius: 1px;
                    }
                    .mail {
                        width: 23px;
                        height: 16px;
                    }
                }
            }
        }
    }
    .recent {
        padding-top: 160px;
        padding-bottom: 20px;
        @media(max-width:1200px) {
            padding-top: 110px;
        }
        @media(max-width:991px) {
            padding-top: 60px;
        }
        .title {
            margin-bottom: 36px;
        }
        .single {
            border: 1px solid $blue_light;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            a {
                width: 100%;
                img {
                    width: 100%;
                }
            }
            .info_wrap {
                padding: 26px 40px 28px 40px;
                height: 100%;
                display: flex;
                flex-direction: column;

                @media (max-width:580px) {
                    padding: 18px 20px 18px 20px;
                }
            }
            .content {
                height: fit-content;
                margin-bottom: 32px;
                .heading {
                    font-family: $harmonia_semibold;
                    margin-bottom: 7px;
                    line-height: 30px;
                }
                p {
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                    margin-bottom: 0;
                    a {
                        display: none;
                    }
                }

                @media (max-width:580px) {
                    margin-bottom: 20px;
                }
            }
            .link-wrapper {
                margin-top: auto;
                a {
                    line-height: 18px;
                    text-transform: uppercase;
                    position: relative;
                    @include doFadeTransSlow();
                    svg {
                        height: 12px;
                        width: 20px;
                        margin-left: 16px;
                        position: absolute;
                        top: calc(50% - 6px);
                        @include doFadeTransFast();
                    }
                    &:hover{
                        svg {
                            margin-left: 20px;
                        }
                    }
                }
            }
        }

        @media (max-width:1600px) and (min-width:1200px) {
            flex: 0 0 66.66%;
            max-width: 66.66%;
            margin-left: 16.66%;
        }
        .single_recent_post {
            @media (max-width:991px) {
                max-width: 580px;
                margin: 0 auto;
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
