.title_bar {
    background-color: $blue_light;
    padding-top: 23px;
    padding-bottom: 22px;
    .heading {
        border-right: 2px solid $blue_primary;
        font-size: 21px;
        font-family: $harmonia_semibold;
        line-height: 28px;
        height: 100%;
        margin: 0;
        display: flex;
        height: auto;
        align-items: center;
        padding-right: 36px;

        flex: 0 0 136px;
        max-width: 136px;
        &:after {
            //content: '';
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 2px;
            background-color: $blue_primary;
        }
    }
    .service_topics {
        margin: auto 0px;
        padding: 8px 0px;
        width: max-content !important;
        margin-right: 56px;
        @media(max-width:991px) {
            margin-right: 30px;
        }
        a {
            padding: 8px 0;
            font-size: 16px;
        }
    }
    .active {
        a {
            background-color: $orange_primary;
            color: $white_primary;
            pointer-events: none;
            padding: 8px 16px;
        }
    }
    .services_topics_slick {
        display: flex;
        column-gap: 56px;
        row-gap: 20px;
        padding-left: 36px;
        flex-wrap: wrap;
        flex: 0 0 calc(100% - 136px);
        max-width: calc(100% - 136px);
        @media(max-width:991px) {
            padding-left: 20px;
        }
        // .slick-slide {
        //     margin: 0 20px;
        // }

        // .slick-list {
        //     margin: 0 -20px;
        // }
    }

}
.service_wrapper {
    padding-top: 106px;
    padding-bottom: 122px;
    @media (max-width : 991px) {
        padding: 60px 0px;
    }
    .col_content {
        padding-right: 75px;
        position: relative;
        ul {
            list-style: none;
            padding-left: 20px;
            li {
                position: relative;
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 10px;
                &:before {
                    content: '-';
                    position: absolute;
                    left: -15px;
                    top: 0;
                }
            }
        }

        @media (max-width:1280px) {
            padding-right: 40px;
        }
        @media (max-width:1200px) {
            padding-right: 15px;
        }
        @media (max-width:991px) {
            padding-bottom: 30px;
        }
    }

    .form_wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-left: 75px;
        @media (max-width:1280px) {
            padding-left: 40px;
        }
        @media (max-width:1200px) {
            padding-left: 15px;
        }
        @media (max-width:991px) {
            padding-top: 30px;
        }
        &:after {
            content: '';
            position: absolute;
            height: 75%;
            background-color: #F0F2F5;
            width: 1px;
            top: 0%;
            left: 0;
            @media (max-width:991px) {
                width: 100%;
                height: 1px;

            }
        }

        .body {
            margin-bottom: 25px;
        }
        .gform_wrapper {
            .gform_body {
                margin-bottom: 25px;
                .gform_fields {
                    grid-row-gap: 18px;
                    column-gap: 0;
                    .gfield {
                        label {
                            font-size: 16px;
                            line-height: 20px;
                            font-family: $font_main;
                        }
                        input, textarea {
                            width: 100%;
                            height: 40px;
                            background-color: $blue_light;
                            padding: 11px 12px;
                        }
                        textarea {
                            height: 140px;
                        }
                    }
                }
            }
            .gform_footer {
                padding: 0;
                margin: 0;
                .btn {
                    margin: 0;
                    margin-right: 10px;
                    padding: 20px 50px;
                    border: none;
                    background: $orange_primary;
                    color: $white_primary;
                    text-transform: uppercase;
                    font-family: $harmonia_semibold;
                    font-size: 13px;
                    line-height: normal;
                    border: 1px solid $orange_primary;
                    @include doFadeTransSlow();
                    &:hover {
                        color: $orange_primary;
                        background-color: $white_primary;
                    }

                    @media (max-width:580px) {
                        padding: 14px 30px;
                    }
                }
            }
        }
    }
}
