.breadcrumbs_wrapper {
	.breadcrumbs {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		position: relative;

		> * {
			position: relative;
			z-index: 1;
		}

		.img_tag_bg {
			position: absolute;
			z-index: -1;
		}

		&.no_thumb {
			background-color: $blue_primary;
		}
		.inner {
			padding-top: 271px;
			padding-bottom: 166px;
			color: $white_primary;
			span {
				font-size: 14px;
				line-height: 20px;
				
				&:not(:first-child) {
					margin-left: 4px;
				}

				a {
					margin-right: 4px;
				}
				h1 {
					font-size: 40px;
					line-height: 34px;
					font-family: $harmonia_bold;
				}
				&:not(:last-of-type) {
					
					a {
						border-bottom: 0.75px solid $orange_secondary;	
					}
				}
			}

			@media (max-width :1200px) {
				padding-top: 201px;
    			padding-bottom: 96px;
			}
			@media (max-width :767px) {
				padding-top: 191px;
    			padding-bottom: 60px;
			}
			@media (max-width :374px) {
				padding-top: 161px;
				padding-bottom: 30px;
			}
			h1 {
				padding-top: 15px;
				max-width: 800px;
				@media (max-width :1200px) {
					font-size: 45px;
					line-height: 47px;
				}
				@media (max-width :767px) {
					font-size: 40px;
					line-height: 44px;
				}
			}
		}
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(to bottom, $black_primary, transparent);
			opacity: 0.40;
			z-index: 0;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $black_primary;
			opacity: 0.15;
			z-index: 0;
		}
		
	}
}

.page-template-template-contact, .page-template-template-book-consultation {
    .wrap {
        overflow: unset;
    }
    .top_rap {
        padding-top: 254px;
        padding-bottom: 151px;
        background: $blue_primary;
        color: $white_primary;
        .breadcrumb {
            background: $blue_primary;
            display: grid;
			margin-bottom: 0;
			padding: 0;
			@media(max-width:991px) {
				padding: 15px;
			}
            >div {
                span {
                    &:nth-child(even) {
                        margin-left: 5px;
                    }
					&:not(:last-of-type) {
						border-bottom: 0.75px solid $orange_secondary;
                        margin-right: 5px;
					}
                }
            }
            .heading {
                font-size: 40px;
                font-family: $harmonia_bold;
                margin-bottom: 0;
            }
        }
		.detail {
			display: flex;
			height: 100%;
			margin-top: auto;
			.contact, .location {
				div, a {
				font-family: $harmonia_semibold;
				}
				@media(max-width:991px) {
					padding: 0;
					margin-bottom: 10px;
				}
			}
			@media(max-width:600px) {
				display: grid;
			}
		}
		@media(max-width:991px) {
			padding-top: 200px;
			padding-bottom: 100px;
		}
		@media(max-width:575px) {
			padding-top: 155px;
			padding-bottom: 85px;
		}
    }
}
