.primary-footer {
    background-color: $blue_primary;
    display: table;
    width: 100%;
    color: $white_primary;
    margin-top: 150px;

    .signup_form_wrapper {
        margin-top: -110px;

        .inner {
            background-color: $blue_light;
            padding-top: 45px;
            padding-bottom: 40px;
            padding-left: 70px;
            padding-right: 70px;

            h4{
                text-align: center;
                margin-bottom: 50px;
                text-transform: uppercase;
                font-family: $harmonia_bold;
                letter-spacing: 1px;
                span {
                    color:$blue_primary;
                }
                @media (max-width:991px) {
                    margin-bottom: 30px;
                }
            }

            @media (max-width:991px) {
                padding-top: 25px;
                padding-bottom: 35px;
                padding-left: 30px;
                padding-right: 30px;
            }
        }

        form{
            position: relative;

            .gform_fields {
                row-gap: 0;
                @media (max-width:840px) {
                    column-gap: 32px;
                }
                @media (max-width:767px) {
                    column-gap: 0px;
                }
            }
            .gform_body {
                .gfield {
                    @media (max-width:991px) {
                        &:nth-child(1),&:nth-child(2) {
                            grid-column: span 6;
                            margin-bottom: 16px;
                        }
                        &:nth-child(3) {
                            grid-column: span 12;
                        }
                    }

                    @media (max-width:991px) {
                        &:nth-child(1),&:nth-child(2) {
                            grid-column: span 12;
                        }
                    }
                }
            }

            .gform_footer {
                margin: 0;
                padding: 0;
                position: absolute;
                border: none;
                right: 0px;
                top: 0px;
                height: 60px;
                width: 30px;
                background-color: $white_primary;
                display: flex;
                align-items: center;

                button{
                    position: relative;
                    border: none;
                    background: $white_primary;
                    padding: 0;
                    margin: 0 !important;
                    visibility: hidden;
                    width: 100%;
                    height: 100%;

                    &:after {
                        content:''; 
                        visibility: visible;
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-image: url('../images/icons/arrow-right-blue.svg');
                        background-size: 6px 10px;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }

                .gform_ajax_spinner {
                    width: 16px;
                }

                @media (max-width:991px) {
                    top: unset;
                    bottom: 0;
                }
            }
        }
    }

    .top_row{
        padding-top: 100px;
        margin-bottom: 150px;

        @media(max-width: 991px){
            padding-top: 50px;
            margin-bottom: 50px;
        }

        a{
            font-family: $font_secondary;
        }


        .footer_phone{
            margin-bottom: 25px;
            font-family: $font_secondary;
        }

        .col_contact_info {
            a {
                font-size: 16px;
            }  

            .footer_address {
                //max-width: 200px;
            }
        }

        #footer-menu{
            position: absolute;
            right: -200px;
            width: 700px;

            @media(max-width: 1200px){
                position: relative;
                right: auto;
                width: auto;
                float: right;
            }

            @media(max-width: 991px){
                margin-top: 50px;
                width: 100%;
            }

            li{

                width: 30%;
                margin-bottom: 35px;

                @media(max-width: 991px){
                    width: 50%;
                }


                a{
                    text-transform: uppercase;
                    font-family: $font_main;
                    letter-spacing: 1px;
                }
            }
        }

        .links_wrapper{
            float: right;

            @media(max-width: 991px){
                float: none;
            }

            i{
                font-size: 20px;
                margin-left: 25px;
                @media(max-width: 991px){
                    margin-left: 0px;
                    margin-right: 10px;
                }
            }
        }


    }

    .bottom_row{
        padding-top: 30px;
        padding-bottom: 30px;
        border-top: 1px solid $blue_light;
        margin-left: 0px;
        margin-right: 0px;

        .col-lg-3{

            .inner{
                margin-left: -15px;
            }
        }

        #footer-terms{
            float: right;
            margin-top: 10px;
            margin-right: -15px;
            margin-left: -15px;

            @media(max-width: 991px){
                margin-right: 0px;
                float: left;
                margin-top: 20px;
            }

            li{
                padding-left: 50px;

                @media(max-width: 991px){
                    padding-left: 0px;
                    padding-right: 20px;
                }

                a{
                    font-family: $font_light;
                    font-size: 12px;
                    &:hover {
                        color: $white_primary;
                    }
                }
            }
        }

    }


    .terms-wrapper{
        background: $white_primary;
        color: $blue_primary;
        padding-top: 30px;
        padding-bottom: 30px;

        p{
            font-family: $harmonia_regular;
            font-size: 13px;
            color: $black_primary;
        }
    }
}
