.banner{
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    width: 100%;

    .topbar-navigation{
        float: right;
        padding-top: 20px;
        padding-bottom: 20px;

        ul{
            li{
                padding-right: 50px;
                &:last-child{
                    padding-right: 20px;
                }

                @media(max-width: 1299px){
                    padding-right: 25px;
                }

                a{
                    color: $white_primary;
                    &:hover{
                        color: $blue_primary;
                    }
                }
            }
        }
    }

    .main-header-row{
        background: $white_primary;
        margin: 0 auto;
        padding: 20px;
        position: relative;

        @media(max-width: 575px){
            padding-left: 0px;
        }

        .col_menu_wrapper{
            padding-right: 0px;
        }

        #header-logo{
            @media(max-width: 575px){
                max-width: 150px;
            }
        }

        .nav-primary{
            float: right;
            margin-top: 17px;

            ul{

                li{
                    padding-right: 50px;

                    @media(max-width: 1299px){
                        padding-right: 25px;
                    }

                    @media(max-width: 1199px){
                        padding-right: 20px;
                    }

                    &:last-child{
                        padding-right: 0px;
                    }

                    &:last-child{
                        a{
                            background: $orange_primary;
                            color: $white_primary;
                            text-transform: uppercase;
                            font-family: $font_secondary;
                            padding-left: 30px;
                            padding-right: 30px;
                            padding-top: 20px;
                            padding-bottom: 20px;
                            border: 1px solid $orange_primary;
                            &:hover{
                                color: $orange_primary;
                                background: $white_primary;
                                border: 1px solid $orange_primary;
                            }
                        }
                    }

                    a{
                        &:hover{
                            color: $orange_primary;
                        }
                    }
                }
            }
        }
    }
}

.contact, .book-consultation {
    .banner {
        .topbar-navigation {
            a {
                &:hover {
                    color: $orange_primary;
                }
            }
        }
    }
}

#side_menu_wrapper {
    position: fixed;
    height: 100vh;
    top: 0;
    width: 100vw;
    right: -100vw;
    z-index: 9999;
}

.col_hamburger_wrapper {
    a{
        @include doFadeTransSlow();
    }
    .is-active {
        //position: absolute;
        //right: 0;
        //top: 0;
    }
}
.col_topbar{
    #topbar-menu{
        li{
            a{  
                &:hover {
                    color: $white_primary;
                }
            }
        }
    }
}