.hamburger{

	position: absolute;
	right: 25px;
	top: 40px;

	@media(max-width: 575px){
		top: 30px;
		right: 20px;
	}

	.hamburger-inner{
		background: $orange_primary;
		&:before{
			background: $orange_primary;
		}
		&:after{
			background: $orange_primary;
		}
	}

}

.menu-open{
	overflow: hidden;
}

.is-active{
	z-index: 99999999;
}

.mobile_phone {
	color: $orange_primary;
	text-align: center;
	font-family: $font_primary;
	font-size: 20px;
	margin: 0 auto;
	display: block;
}

#mobile-navigation{
    position: fixed;
	top: 0px;
	left: 0;
    width: 100vw;
    z-index: 10;
	transform: translateY(-100%);

	#mobile-scrollable-wrapper{
		margin-top: -31px;

		img{
			margin-bottom: 25px;
		}
	}

    .wrapped {
    	.inner {
    		background-color: $blue_primary;
    		padding-top: 110px;
    		padding-bottom: 40px;
    	}
    }

    ul {
    	display: block;
    	li {
    		display: block;
    		padding-bottom: 15px;
    		opacity: 0;
    		a {
    			color: $white_primary;
    			font-size: 24px;

				&:hover{
					color: $orange_primary;
				}
    		}
    	}
    }
}




#mobile-navigation-sticky{
    position: fixed;
	top: 0px;
	left: 0;
    width: 100vw;
    z-index: 8;
	transform: translateY(-100%);
    border-bottom: 1px solid $white_primary;

	#mobile-scrollable-wrapper{
		margin-top: 75px;
	}

    .wrapped {
    	.inner {
    		background-color: $blue_primary;
    		padding-top: 110px;
    		padding-bottom: 35px;
            @media(max-width: 575px){
                padding-top: 90px;
                padding-bottom: 25px;
            }
    	}
    }

    ul {
    	display: block;
    	li {
    		display: block;
    		padding-bottom: 15px;
    		opacity: 0;
    		a {
    			color: $white_primary;
    			font-size: 24px;

				&:hover{
					color: $orange_primary;
				}
    		}
    	}
    }
}
