//common text block
.text_block {
    padding-top: 128px;
    padding-bottom: 88px;

    .left_body {
        p {
            line-height: 35px;
            font-size: 26px;
            font-family: $font_secondary;
            margin-bottom: 26px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
        @media (max-width:991px) {
            margin-bottom: 16px;
        }
    }

    .large-para {
        line-height: 20px;
    }

    @media (max-width:1200px) {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    @media (max-width:991px) {
        padding-top: 48px;
        padding-bottom: 48px;
    }
}

.page-template-template-book-consultation {

    .testimonials_wrapper {
        .content-wrapper ,
        .testi-wrapper {
            background-color: $white_primary;
            .testimonials_carousel {
                .inner {
                    border: 1px solid $blue_light;
                }
            }
        }

        .testimonials_carousel {
            .slick-arrow {
                background: url('../images/icons/arrow-left-grey.svg') no-repeat;
                filter: invert(0) !important;
            }
        }
    }
}