#sticky-header {
    position: fixed;
    top: -200px;
    left: 0;
    width: 100%;
    z-index: 9;
    @include doFadeTrans();
    box-shadow: 0 4px 2px -2px $grey_primary;
    background-color: $white_primary;

    .main-header-row{
        padding: 15px;
        padding-left: 0;
        padding-right: 0;
        .col_logo {
            padding: 0;
        }
    }

    &.visible {
        top: 0;
	}

    #hamburger-icon {
        right: 5px;
        //top: -5px;
        margin-top: -4px;
    }

    .col_topbar{
		background: $blue_primary;

        .topbar-navigation{
            padding-top: 15px;
            padding-bottom: 15px;
        }

        #topbar-menu{
            li{
                a{
                    &:hover{
                        color: $orange_primary;
                    }
                }
            }
        }
	}
}
